.contato {
  background: #004850;
  padding: 20px 0;
  text-align: center;

  @media (min-width: 800px) {
    padding: 40px 0;
  }

  h3 {
    color: #f8f9f9;
    text-transform: uppercase;

    @media (min-width: 800px) {
      font-size: 25px;
    }
  }

  p {
    color: white;
    margin: 6px 0 20px;

    @media (min-width: 800px) {
      font-size: 20px;
    }

    a {
      color: #f8f9f9;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: lighten(#f8f9f9, 25%);
      }
    }
  }

}
.comSucesso {
  color: #f8f9f9;
  font-weight: 900;
  padding: 80px 0;

  svg {
    fill: #f8f9f9;
  }
}

.contato__form {
  width: 100%;
  margin: 0px auto;

  form {
    width: 100%;

    @media (min-width: 800px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  input,
  textarea {
    width: 100%;
    background: darken(#c3af94, 3%);
    border: none;
    border: 1px solid darken(#c3af94, 5%);
    color: @text-brown;
    margin-bottom: 8px;
    padding: 14px 10px;
    transition: background 0.25s ease-in-out;

    &::placeholder {
      color: @text-brown, 25%;
    }

    &:focus {
      outline: none;
      background: lighten(#c3af94, 2%);
      border-color: lighten(#c3af94, 2%);
    }

    &.error {
      border-color: red;
    }

    @media (min-width: 800px) {
      margin-bottom: 12px;
      padding: 14px 20px;

      &.nome {
        width: 100%;
      }

    }
  }

  textarea {
    height: 66px;
  }

  .btn {
    height: 45px;
    margin-top: 10px;
    padding: 0;
  }
}
