.counter {
  background: linear-gradient(#014b38, #023b2c);
  color: white;
  padding: 20px 0;
  text-align: center;

  @media (min-width: 800px) {
    padding: 50px 0;
  }

  h2 {
    text-transform: uppercase;

    @media (min-width: 800px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  p {
    margin: 4px 0 0 0;

    @media (min-width: 800px) {
      font-size: 23px;
      line-height: 23px;
    }
  }
}

.counter__countdown {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;

  @media (min-width: 800px) {
    margin-top: 30px;
  }
}

.counter__group {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  position: relative;

  @media (min-width: 800px) {
    margin-bottom: 10px;
  }

  &:before,
  &:after {
    content: '';
    width: 5px;
    height: 5px;
    background: #08674c;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: 0;
  }

  &:before {
    margin-top: -2.5px;
    transform: translate(10px, -5px);

    @media (min-width: 800px) {
      transform: translate(13px, -5px);
    }
  }

  &:after {
    margin-bottom: -2.5px;
    transform: translate(10px, 5px);

    @media (min-width: 800px) {
      transform: translate(13px, 5px);
    }
  }
}

.counter__item {
  width: 40px;
  height: 50px;
  background: black;
  border-radius: 2px;
  box-shadow: 0 3px 8px fade(black, 15%);
  color: #014b38;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Share Tech Mono';

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  @media (min-width: 800px) {
    width: 60px;
    height: 70px;
    font-size: 48px;

    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

.dias,
.horas,
.minutos {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.dias,
.horas {
  margin-right: 15px;

  @media (min-width: 800px) {
    margin-right: 20px;
  }
}

.dias {
  color: #22fbb6;

  .counter__item {
    background: linear-gradient(#22fbb6, #16d498 49%, #22fbb6 51%, #16d498);
  }
}
.horas {
  color: #45ddad;

  .counter__item {
    background: linear-gradient(#4efcc5, #45ddad 49%, #4efcc5 51%, #45ddad);
  }
}
.minutos {
  color: #74e6c1;

  .counter__group {
    &:before,
    &:after {
      content: none;
    }
  }

  .counter__item {
    background: linear-gradient(#7afdd3, #73e5c1 49%, #7afdd3 51%, #73e5c1);
  }
}
