* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;

  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

p a {
  text-decoration: underline;
}

button {
  transition: all 0.25s ease-in-out;
}

@text-brown: #665c4e;
@heavy-brown: #50483e;
@text-blue: #044e5c;
@text-red: #6f2406;
@background-beige: #d3c1a8;
@background-blue: #09acb9;
@background-orange: #e18727;


.color--brown {
  color: @heavy-brown
}

.color--blue {
  color: @text-blue
}

.color--red {
  color: @text-red
}

.section--blue {
  background-color: @background-blue
}

.section--orange {
  background-color: @background-orange
}

.section--beige {
  background-color: @background-beige
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.section__title {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: left;
}