.faq {
  padding: 30px 0;
  text-align: center;

}

.faq__list {
  text-align: left;
}

.faq__item {
  background: @text-blue;
  color: @background-blue;

  &:nth-child(even) {
    background: @background-blue;
    color:  @text-blue;

    a {
      color: lighten(@text-blue, 25%);
    }
  }

  a {
    color: lighten(@background-blue, 25%);
    font-weight: 700;
    text-decoration: none;
  }

  &.faq--open {
    .faq__question:before {
      opacity: 1;
    }

    // .faq__answer {
    //   display: block;
    // }
  }
}

.faq__question {
  cursor: pointer;
  font-weight: 900;
  padding: 10px;
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: fade(white, 20%);
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.faq__answer {
  display: none;
  color: white;
  line-height: 20px;
  padding: 20px 15px;
  overflow: hidden;
  transition: height 0.25s ease-in-out;

  p {
    margin: 0;
    line-height: 22px;
  }

  p:not(:last-of-type) {
    margin: 0 0 20px 0;
  }
}

.faq__disclaimer {
  color: white;
  margin-top: 30px;
  text-align: left;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 20px;
  }

  @media (min-width: 700px) {
    text-align: center;

    ul {
      display: flex;
      justify-content: center;
    }
  }
}
