.header {
  background: url('../images/header-bg.jpg') #2edfe7 top center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.header__head {
  padding: 20px 0;

  .mycap {
    margin: 0px auto;
  }

  @media (min-width: 800px) {
    padding: 40px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .mycap {
      margin: 0;
    }
  }
}

.header__title {
  font-size: 3rem;
  color: @text-brown;
  text-transform: uppercase;
  line-height: 1;

  strong {
    color: white;
  }
}

.header__subtitle {
  font-size: 1.3rem;
  color: @text-brown;
  font-weight: bold;
  margin: 0.8rem 0;
}

.computer {
  position: absolute;
  top: 0;
  right: 10%;
  width: 25%;

  img {
    max-width: 100%;
  }
}

.header__content {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  padding-bottom: 20px;
  position: relative;
  z-index: 3;
}

.header__content__text__inner {
  background-color: rgba(19,93,99,0.6);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  p {
    color: white;

    .show--tooltip {
      display: inline-block;
      color: @text-blue;
      position: relative;

      .tooltip {
        position: absolute;
        width: 20rem;
        top: 100%;
        font-size: 0.8rem;
        line-height: 1.5;
        background-color: rgba(255,255,255,0.8);
        padding: 0.5rem 1rem;
        left: 0;
        border-radius: 0.3rem;
        display: none;
      }

      &:hover {
        cursor: pointer;
        .tooltip {
          display: inline-block;
        }
      }
    }
  }
  a:hover {
    font-weight: bold; 
    color: white !important;
  }
}

.header__content__benefits {
  margin: 3rem 0;
  ul {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    li {
      background-color: @background-blue;
      color: white;
      flex-basis: 20%;
      display: inline-flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      color: #e7eaed;
      text-align: center;

      img {
        display: inline-block;
        max-width: 60%;
      }

      .content {
        position: absolute;
        background-color: @background-blue;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:nth-child(even) {
        background-color: #09939e;
        .content {
          background-color: #09939e;
        }
      }

      &:hover {
        .content {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }

  .benefits__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
}

.header__logo {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.header__content__form {
  max-width: 50%;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    margin: auto;
  }
}

.header__text {
  width: 100%;
  max-width: 440px;
  margin: 30px auto 0 auto;
  text-align: center;

  @media (min-width: 870px) {
    padding-bottom: 20px;
  }

  h1 {
    color: #00ff00;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;

    @media (min-width: 670px) {
      font-size: 21px;
      line-height: 26px;
    }
  }

  h2 {
    color: #fcaf17;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }

  .subtext {
    color: #00ff00;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    margin-top: 8px;
    text-transform: uppercase;
  }

  p {
    color: white;
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0 0 0;

    @media (min-width: 670px) {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
