// *************************
// **** NORMALIZE RESET ****
// *************************
@import '~normalize.css';
// *************************

// Defaults / Resets
@import 'defaults';

@import 'header';
@import 'costs';
@import 'types';
@import 'compare';
@import 'faq';
@import 'contato';
@import 'footer';

.container {
  width: 85%;
  max-width: 960px;
  margin: 0px auto;
  padding: 1.3rem 0;
  position: relative;
  z-index: 1;
}

.mycap {
  width: 150px;

  svg {
    fill: #08391c
  }
}

.btn {
  width: 100%;
  background: #e18727;
  border: none;
  color: #f8f9f9 !important;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 2rem auto;
  padding: 15px 8px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: darken(#e18727, 20%);
  }
}


.background__gradient {
  background-image: url('../images/gradient.png');
  background-position: top left;
  background-repeat: repeat-y;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-size: 100%;
}
section {
  position: relative
}
#main-footer .icap a.icap-logo { background-image:url(https://www.mycap.com.br/App_Themes/MyCap/Images/icap.png); }


@font-face {
  font-family: 'MyCAP Iconfont';
  src: url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.eot');
  src: url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.eot?#iefix') format('embedded-opentype'), url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.woff2') format('woff2'), url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.woff') format('woff'), url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.ttf') format('truetype'), url('https://www.mycap.com.br/App_Themes/MyCap/fonts/MyCAP-WebFont.svg#MyCAP-WebFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.iconfont {
  font-family: 'MyCAP Iconfont';
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mycap:before {
  content: "\E074";
}
.icon-twitter:before {
  content: "\E001";
}
.icon-facebook:before {
  content: "\E002";
}
.icon-youtube:before {
  content: "\E003";
}
.icon-icap:before {
  content: "\E004";
}
.icon-beneficio:before {
  content: "\E005";
}
.icon-analise:before {
  content: "\E006";
}
.icon-acoes:before {
  content: "\E007";
}
.icon-powerbroker:before {
  content: "\E008";
}
.icon-opcoes:before {
  content: "\E024";
}
.icon-bmef:before {
  content: "\E025";
}
.icon-tesourodireto:before {
  content: "\E026";
}
.icon-fundosindice:before {
  content: "\E046";
}
.icon-fundosimobiliarios:before {
  content: "\E047";
}
.icon-aluguelacoes:before {
  content: "\E027";
}
.icon-ofertaspublicas:before {
  content: "\E048";
}
.icon-termo:before {
  content: "\E049";
}
.icon-bdr:before {
  content: "\E029";
}
.icon-cifrao:before {
  content: "\E009";
}
.icon-alavancagem:before {
  content: "\E030";
}
.icon-vendadescoberto:before {
  content: "\E031";
}
.icon-contamargem:before {
  content: "\E032";
}
.icon-mesaoperacoes:before {
  content: "\E033";
}
.icon-ferramentas:before {
  content: "\E010";
}
.icon-scannergrafico:before {
  content: "\E017";
}
.icon-forum:before {
  content: "\E018";
}
.icon-relatoriosanalistas:before {
  content: "\E019";
}
.icon-beliscadas:before {
  content: "\E040";
}
.icon-flexscan:before {
  content: "\E034";
}
.icon-recomendacoes:before {
  content: "\E039";
}
.icon-consensomercado:before {
  content: "\E038";
}
.icon-graficos:before {
  content: "\E050";
}
.icon-radarvolumes:before {
  content: "\E035";
}
.icon-quadroalugueis:before {
  content: "\E037";
}
.icon-podcasts:before {
  content: "\E036";
}
.icon-irfacil:before {
  content: "\E052";
}
.icon-proventos:before {
  content: "\E045";
}
.icon-smsconfirmation:before {
  content: "\E051";
}
.icon-hisroticocotacoes:before {
  content: "\E043";
}
.icon-cotacoes:before {
  content: "\E042";
}
.icon-noticias:before {
  content: "\E041";
}
.icon-agendamercado:before {
  content: "\E028";
}
.icon-cronogramaresultados:before {
  content: "\E044";
}
.icon-multiplus:before {
  content: "\E053";
}
.icon-tic:before {
  content: "\E012";
}
.icon-x:before {
  content: "\E013";
}
.icon-economicaplus:before {
  content: "\E014";
}
.icon-lupa:before {
  content: "\E015";
}
.icon-perfil:before {
  content: "\E011";
}
.icon-transferencias:before {
  content: "\E016";
}
.icon-downloads:before {
  content: "\E023";
}
.icon-email:before {
  content: "\E020";
}
.icon-chat:before {
  content: "\E021";
}
.icon-telefone:before {
  content: "\E022";
}
.icon-setadir:before {
  content: "\E064";
}
.icon-alert:before {
  content: "\E060";
}
.icon-investimentos:before {
  content: "\E065";
}
.icon-ferramentas-small:before {
  content: "\E059";
}
.icon-carteira-small:before {
  content: "\E055";
}
.icon-financeiro-small:before {
  content: "\E056";
}
.icon-ir-small:before {
  content: "\E058";
}
.icon-proventos-small:before {
  content: "\E057";
}
.icon-transferencias-small:before {
  content: "\E070";
}
.icon-extrato:before {
  content: "\E066";
}
.icon-notascorretagem:before {
  content: "\E067";
}
.icon-informerendimentos:before {
  content: "\E068";
}
.icon-avisosfatos:before {
  content: "\E069";
}
.icon-info-endereco:before {
  content: "\E072";
}
.icon-info-bancaria:before {
  content: "\E073";
}
.icon-loading:before {
  content: "\E084";
}
.icon-monitor:before {
  content: "\E076";
}
.icon-alerttic:before {
  content: "\E082";
}
.icon-mypedia:before {
  content: "\E077";
}
.icon-fechamento:before {
  content: "\E090";
}
.icon-instagram:before {
  content: "\E093";
}