.premios {
  background: #014b38;
  padding: 20px 0;
  position: relative;

  @media (min-width: 800px) {
    padding: 60px 0 30px;
  }
}

.produto-esgotado {
  border: 8px solid #e30613;
  color: #e30613;
  font-size: 48px;
  font-weight: 900;
  padding: 8px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  text-transform: uppercase;
  z-index: 5;
}

.premios__lista {
  margin-bottom: 40px;
  position: relative;

  @media (min-width: 800px) {
    display: flex;
    justify-content: center;
  }
}

.premios__item {
  max-width: 288px;
  text-align: center;
  margin: 0px auto;
  position: relative;

  img {
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto 0;
  }

  &.premio--1 {
    background: #2dc934;

    img {
      width: 60%;
    }
  }
  &.premio--2 {
    background: #22fbb6;
  }
  &.premio--3 {
    background: #2dc934;
  }

  @media (min-width: 800px) {
    width: 33.33%;
    margin: 0;
  }
}

.premios__text {
  padding: 15px 0 0 0;

  h2 {
    color: #006c50;
    font-size: 50px;
    font-weight: 900;
    line-height: 40px;

    span {
      display: block;
      font-size: 50%;
      line-height: 30px;
      text-transform: uppercase;
    }
  }

  p {
    font-weight: 700;
    margin: 0;

    &.color--dark {
      color: #006c50;
    }
  }
}

.premios__disclaimer {
  color: #22fbb6;
  text-align: center;

  p {
    strong {
      display: block;
      font-size: 120%;
      font-weight: 700;
      margin-top: 4px;
    }

    @media (min-width: 800px) {
      font-size: 22px;
    }
  }

  a {
    color: #ffc20e;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: lighten(#ffc20e, 20%);
    }
  }
}

.premios__disc {
  width: 100%;
  color: white;
  font-size: 13px;
  margin: 0;
  position: absolute;
  bottom: -20px;
  text-align: center;
}
