.regulamento {
  padding: 20px 0;

  @media (min-width: 800px) {
    padding: 40px 0 20px;
  }

  h2 {
    color: #8cf900;
    font-weight: 900;

    @media (min-width: 800px) {
      font-size: 30px;

      & + p {
        margin: 4px 0 15px 0;
      }
    }
  }

  p {
    color: white;
    font-size: 18px;
    line-height: 24px;

    @media (min-width: 800px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  a.btn--participe {
    background: #f68b1f;
    color: white;

    &:hover {
      background: darken(#f68b1f, 10%);
    }
  }
}

.regulamento__cols {
  margin-top: 40px;

  h3 {
    color: #8cf900;
    text-transform: uppercase;
  }

  h3 + p,
  h3 + ul {
    margin: 8px 0 35px;
  }

  p {
    font-size: 16px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      counter-increment: step-counter;
      color: white;
      list-style-type: none;
      line-height: 24px;
      margin-bottom: 15px;

      &:before {
        content: counter(step-counter) + '- ';
        color: #8cf900;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        color: #8cf900;

        &:hover {
          color: lighten(#8cf900, 30%);
        }
      }

      @media (min-width: 800px) {
        margin-bottom: 15px;
        line-height: 26px;
      }
    }
  }
}
