#types {
  h4 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3rem;
    line-height: 1.3;
  }

  .type__cols {
    display: flex;
  }

  .type__col {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;

    &:nth-child(2) {
      padding: 0 1rem;
    }

    h4 {
      margin-top: 0;
    }
  }

  .types__disclaimer {
    p {
      color: white;
      font-size: 1.4rem;
      margin-top: 3rem;
    }
  }
}
