doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title MyCAP - #VistaEssaCamisa
    meta(name="description" content="Opere no mercado de futuros e ganhe uma camisa oficial da seleção brasileira.")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://www.mycap.com.br/App_Themes/MyCap/css/controles/footer.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
  body

    // Header
    header.header
      .background__gradient
      .computer
          img(src=require('./images/computer.png'))
      .header__head
        .container
          .mycap
            a(href="https://www.mycap.com.br" target="_blank")
              include svgs/mycap.pug

      .header__content
        
        .header__content__form
          h2.header__title
            strong tesouro direto 
            | com Taxa de administração 
            strong ZERO 
            | PELA MYCAP! 
          h3.header__subtitle
            | Investir em Tesouro Direto com a MyCAP é muito simples e rápido! 
          .header__form
            h3.comSucesso ✔ Formulário enviado com sucesso!

        .header__content__text
          h3.section__title.color--brown
            | O que é tesouro direto?
          .header__content__text__inner

            p
              | O Tesouro Direto é um programa de negociação de 
              span.show--tooltip títulos públicos
                span.tooltip
                  | O título público representa um empréstimo ao governo. Sua taxa de remuneração é pré-determinada, desde que o investimento permaneça até a data de vencimento do título. Embora possua um valor unitário definido, a negociação de títulos públicos pode ser feita de forma fracionária, adequando-se ao perfil e interesses do investidor.
              | para pessoas físicas. Foi iniciado a partir de 2002 pelo governo, em parceria com a 
              span.show--tooltip B3
                span.tooltip
                  | A B3 (Bolsa Brasil Balcão) representa a Bolsa de Valores brasileira, localizada fisicamente na cidade de São Paulo. O conglomerado originou-se da combinação entre a BM&FBOVESPA e a CETIP.
              | .
            
            p
              | O intuito do programa é financiar investimentos públicos, auxiliando no crescimento do país. Como forma de incentivo, o investidor recebe o valor aplicado com uma determinada 
              a.link__compare.link(href="#compare") rentabilidade
              | , desde que aguarde até o final do vencimento.

            p
              | Existem diferentes 
              a.link__types.link(href="#types") tipos de títulos públicos 
              | disponíveis no mercado. A MyCAP, como sua instituição financeira intermediadora, te fornece todas as informações para que você escolha o melhor título de acordo com os seus objetivos e perfil de investimento!

          // Benefícios
          .header__content__benefits
            ul
              li
                img(src=require('./images/cost.png'))
                p.benefits__title Custo
                .content
                  p.benefits__title Custo
                  p.benefits__text Baixo custo de aquisição e manutenção.
              li
                img(src=require('./images/security.png'))
                p.benefits__title Segurança
                .content
                  p.benefits__title Segurança
                  p.benefits__text Investimentos 100% garantidos pelo Tesouro Nacional.
              li
                img(src=require('./images/diversity.png'))
                p.benefits__title Diversidade
                .content
                  p.benefits__title Diversidade
                  p.benefits__text Opções variadas para cada perfil de investidor.
              li
                img(src=require('./images/liquidity.png'))
                p.benefits__title Liquidez
                .content
                  p.benefits__title Liquidez
                  p.benefits__text Excelente liquidez do investimento.
              li
                img(src=require('./images/facility.png'))
                p.benefits__title Facilidade
                .content
                  p.benefits__title Facilidade
                  p.benefits__text Investimento e tributação de baixa complexidade.

    // Costs
    section#costs.section--blue
      .background__gradient
      .container
        h3.section__title.color--blue
         | Custos e impostos
        ul
          li
            strong Taxa de Administração MyCAP: 
            | Zero.
          li
            strong Taxa de Corretagem: 
            | Zero.
          li
            strong Taxa de Custódia da B3: 
            | 0,3% ao ano.
          li
            strong Imposto de Renda: 
            | Incide apenas sobre o rendimento obtido. É recolhido na fonte, pela instituição financeira intermediadora, quando efetuado o resgate ou no pagamento do cupom semestral. Não há necessidade do pagamento de DARF.
          li
            strong IOF: 
            | Aplicável em resgates realizados com menos de 30 dias corridos a partir da data da aplicação.
    
    // types
    section#types.section--orange
      .background__gradient
      .container
        h3.section__title.color--red
          | Tipos de títulos
        .type__cols
          .type__col
            h4 Tesouro IPCA +
            h4 Tesouro Prefixado
          .type__col
            img(src=require('./images/key-mini.png'))
          .type__col
            h4 com ou sem juros
        h4 Tesouro SELIC

        .types__disclaimer 
          p
            | Não sabe em qual título investir? Clique 
            a(href="https://simulador.tesourodireto.com.br/#/objetivo") AQUI 
            | e descubra o mais adequado de acordo com os seus objetivos!  
    
    // Compare
    section#compare.section--blue
      .background__gradient
      .container
        h3.section__title.color--blue
          | Comparativo
        p
          | Dê o seu primeiro passo no mercado financeiro!
        p
          | O Tesouro Direto oferece segurança, simplicidade, alta liquidez e GANHOS SIGNIFICATIVOS!
        p
          | Para simular seu rendimento em títulos do Tesouro Direto, em comparação com a poupança e 
          strong fundos de DI
          | , clique 
          a(href="https://simulador.tesourodireto.com.br/#/quadro-titulo") AQUI 


    // FAQ
    section.faq.section--beige
      .container
        h3.section__title.color--brown
          | Perguntas Frequentes

        .faq__list
          .faq__item
            .faq__question
              |	Existem valores mínimos e máximos de aplicação e resgate no Tesouro Direto pela MyCAP?
            .faq__answer
              p Sim, existem limites. Os títulos podem ser negociados (comprados e vendidos) em frações mínimas de 1% do valor, contanto que essa porcentagem seja maior ou igual a R$30,00. O limite máximo para a compra de títulos é de R$1.000.000,00 por mês. Para o resgate, não há limite máximo.

          .faq__item
            .faq__question
              | Como operar tesouro Direto pela MyCAP?
            .faq__answer
              p Para operar pelo Tesouro Direto na MyCAP basta ter uma conta ativa. Para abrir sua conta, clique <a target="_blank" href="https://painel.mycap.com.br/Cadastro/Abra-sua-Conta/AbraSuaContaPasso1.aspx">AQUI</a>. Uma vez logado, o cliente deve clicar em “Invista” e depois em “Tesouro Direto”. Depois disso, basta escolher a melhor opção de acordo com o seu perfil de investidor.

          .faq__item
            .faq__question
              | Para quem é indicado o investimento em Tesouro Direto pela MyCAP?
            .faq__answer
              p O Tesouro Direto é indicado para pessoas físicas que desejam investir com segurança e praticidade em renda fixa, obtendo boa rentabilidade e liquidez, com baixo risco. Ele atende tanto ao pequeno quanto ao grande investidor, permitindo aplicações desde R$30,00 até R$ 1.000.000,00 por mês.

          .faq__item
            .faq__question
              |	Quais são os tipos de títulos públicos que o Tesouro Direto disponibiliza? E quais são as particularidades de cada um deles?
            .faq__answer
              p Existem diferentes tipos de títulos públicos oferecidos pelo Tesouro Direto, sendo eles: Tesouro IPCA + com juros semestrais, Tesouro IPCA + sem juros semestrais, Tesouro Prefixado com juros semestrais, Tesouro Prefixado sem juros semestrais e Tesouro SELIC. <br><br> O Tesouro IPCA (antigo NTN-B) é o título mais seguro de todos. Preserva o seu poder de compra ao longo do tempo, pois a rentabilidade do título acompanha a inflação (IPCA), com o acréscimo da taxa de juros definida na compra do título. Ideal para objetivos de longo prazo como a aposentadoria ou a compra de um imóvel. <br><br> O Tesouro Prefixado (antigo LTN) não considera a variação da inflação, então esse título é menos seguro do que os outros. Em caso de alta geral de preços, pode implicar em perda de poder aquisitivo. Em contra partida, se a inflação cair, seu investimento terá um poder de compra maior do que o estimado na época da aquisição do título. É ideal para objetivos de médio prazo, como troca de carro, reforma de um imóvel ou uma viagem. <br><br>Existem diferentes tipos de títulos públicos oferecidos pelo Tesouro Direto, sendo eles: Tesouro IPCA + com juros semestrais, Tesouro IPCA + sem juros semestrais, Tesouro Prefixado com juros semestrais, Tesouro Prefixado sem juros semestrais e Tesouro SELIC. <br><br>O Tesouro IPCA (antigo NTN-B) é o título mais seguro de todos. Preserva o seu poder de compra ao longo do tempo, pois a rentabilidade do título acompanha a inflação (IPCA), com o acréscimo da taxa de juros definida na compra do título. Ideal para objetivos de longo prazo como a aposentadoria ou a compra de um imóvel.<br><br>O Tesouro Prefixado (antigo LTN) não considera a variação da inflação, então esse título é menos seguro do que os outros. Em caso de alta geral de preços, pode implicar em perda de poder aquisitivo. Em contra partida, se a inflação cair, seu investimento terá um poder de compra maior do que o estimado na época da aquisição do título. É ideal para objetivos de médio prazo, como troca de carro, reforma de um imóvel ou uma viagem.

          .faq__item
            .faq__question
              | Qual o horário de funcionamento do Tesouro Direto?
            .faq__answer
              p As aplicações e resgates poderão ser efetuados todos os dias úteis entre 09h30min e 18h00min. Solicitações de aplicação ou resgate realizadas fora desse horário serão processadas no próximo dia útil. <br> Para fins de manutenção do portal, todos os dias das 05h00min as 09h30min o sistema do Tesouro fica indisponível. <br> O Tesouro Nacional poderá suspender as negociações ao longo do dia em caso de grande volatilidade, comprometendo a alta liquidez do investimento.

          .faq__item
            .faq__question
              | É possível comprar títulos em Tesouro Direto pela MyCAP sem saldo em conta?
            .faq__answer
             p Não. A compra só será aceita pela MyCAP se o mesmo tiver saldo em conta.

          .faq__item
            .faq__question
              |	Em quanto tempo o título aparecerá na minha carteira MyCAP após a compra?
            .faq__answer
              p O dinheiro sairá da conta do cliente na MyCAP no mesmo dia, mas o título só aparecerá no extrato no dia útil seguinte.

          .faq__item
            .faq__question
              |	Em quanto tempo o dinheiro aparecerá na minha carteira MyCAP após o resgate ou o vencimento do título?
            .faq__answer
              p O Tesouro registra a saída do título no mesmo dia, mas o dinheiro só estará na conta do cliente no dia útil seguinte.

    footer#main-footer
      .inner
        nav.selos
          ul
            li
              a(href="http://www.bmfbovespa.com.br/pt_br/servicos/participantes/busca-de-corretoras/icap-do-brasil-ctvm-ltda.htm" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo1.png")
            li
              a(href="http://www.tesouro.fazenda.gov.br/tesouro-direto/" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo2.png")
            li
              a(href="http://www.bmfbovespa.com.br/pt_br/" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo3.png")
            li
              a(href="http://www.cvm.gov.br" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo4.png")
            li
              a(href="http://www.bsm-autorregulacao.com.br/" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo5.png")
            li
              a(href="http://www.comoinvestir.com.br/Paginas/Default.aspx" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo6.png")
            li
              a(href="http://www.bmfbovespa.com.br/pt_br/regulacao/programa-de-qualificacao-operacional-pqo/selos-de-qualificacao/execution-broker.htm" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo-executionbroker.jpg" width="47")
            li
              a(href="http://www.bmfbovespa.com.br/pt_br/regulacao/programa-de-qualificacao-operacional-pqo/selos-de-qualificacao/retail-broker.htm" target="_blank")
                img(alt="" src="https://www.mycap.com.br/App_Themes/MyCap/Images/selo-retailbroker.jpg" width="47")
      .main-area
        .inner
          nav.footer-menu
            ul#menuElem
              li
                a(href="/outros/governanca-corporativa") Governança Corporativa
              li
                a(href="/outros/legislacao-e-regras") Legislação e Regras
              li
                a(href="/outros/seguranca-e-termos-de-uso") Segurança e Termos de Uso
              li
                a(href="/outros/gestao-de-risco") Gestão de Risco
              li
                a(href="/outros/sobre-a-icap") Sobre a ICAP
              li
                a(href="https://www.icap.com/" target="_blank") ICAP Group
          .assinatura.clear
            a(href="/")
              .iconfont.icon-mycap
            .icap
              p
                | MyCAP é um produto 
                span ICAP do Brasil CTVM Ltda.
              a.icap-logo(href="http://www.icapbrasil.com.br" target="_blank") ICAP
            nav.social
              ul
                li
                  a(href="https://www.facebook.com/mycaphb/" target="_blank")
                    span.iconfont.icon-facebook
                li
                  a(href="http://twitter.com/mycaphb" target="_blank")
                    span.iconfont.icon-twitter
                li
                  a(href="http://www.youtube.com/homebrokermycap" target="_blank")
                    span.iconfont.icon-youtube
      .disclaimer
        .inner
          p
            a(href="http://siteempresas.bovespa.com.br/consbov/ExibeFatosRelevantesCvm.asp")
              span(style="vertical-align: inherit;") Consultar os fatos relevantes dos últimos 5 (cinco) dias úteis
          p
            span(style="vertical-align: inherit;")
              | Toda comunicação através da rede mundial de computadores está sujeita a interrupções ou atrasos, podendo impedir ou prejudicar o envio de ordens ou a recepção de informações atualizadas, nos termos da Instrução 380 da CVM. A marca MyCAP é propriedade da ICAP do Brasil Corretora de Títulos e Valores Mobiliários Ltda. Todas as operações realizadas através da MyCAP são executadas pela ICAP do Brasil Corretora de Títulos e Valores Mobiliários Ltda, instituição financeira autorizada a funcionar pelo Banco Central do Brasil. A B3 recomenda para todos os clientes MyCAP a realização dos cursos sobre mercados de ações, à vista e de opções para um melhor conhecimento dos temas tratados neste portal.
          p
            span(style="vertical-align: inherit;")
              | Em caso de indisponibilidade da ferramenta de negociação on-line, entre em contato com a Mesa de Operações através dos telefones 2114 0500 (São Paulo e Rio) e 0800 725 0500 (Demais Localidades). A corretagem será a mesma cobrada nas negociações on-line.
